{% extends 'layout.html.twig' %}

{% block title %}Détails de la série
{% endblock %}


{% block content %}
	<body>
		<main>

			<h1>
				{{serie.title}}
			</h1>
			<img src="/assets/images/{{serie.image}}" alt="">

			<article>
				<h2>Synopsis</h2>
				<p>
					{{serie.description}}
					<br></p>

				<p>Année de première diffusion :
					{{serie.year}}
					<br></p>

				<p>Nombre de saisons :
					{{serie.nb_of_seasons}}</p>

			</article>

		</main>

	</body>
{% endblock %}

