{% extends 'layout.html.twig' %}

{% block title %}Détails de la série
{% endblock %}

{% block content %}
	<main class="seriePage position-relative">
		<div class="imginfo">
			<img src="/assets/images/shows/{{serie.image}}" alt="">
		</div>

		<article class="infogen"></p>
        <div class = "h1update">
		<h1>
			{{serie.name}}
			<a class="pen" href="seriepage/edit?id={{serie.id}}" class="editSerie">
				<img src="/assets/images/pen2.png"/>
			</a>
		</h1>
        </div>
		<div class="infoSerieComp">
			<p>
				{% for tag in serie.styleTags %}
					{{tag.name}},
				{% endfor %}

				<h2>Synopsis :
				</h2>
			</p>
			<p>
				{{serie.description}}
			</p>

			<p>Année de première diffusion :
				{{serie.year}}
			</p>

			<p>Nombre de saisons :
				{{serie.nb_of_seasons}}</p>
		</div>
		<div class="modify">
			<p>Vous voyez une erreur ?</p>
			<a class="navbar-brand" href="seriepage/edit?id={{serie.id}}">
				<button>Modifier les données</button>
			</a>
		</div>
	</article>
</main>{% endblock %}
