{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur votre annuaire des séries !
{% endblock %}

{% block content %}
	<main class="TVshows">
		<h1>Qu'allons nous regarder aujourd'hui,
			{{user.firstname}}?</h1>
		{% if seriesRecoms %}
			<div>
				<h2>Nos recommandations pour vous</h2>
				<ul class=" carousel-serie-recom">
					{% for serie in seriesRecoms %}
						<li class="carousel-serie">
							<a href="/seriepage?id={{serie.id}}">
								<img src="/assets/images/shows/{{serie.image}}"/></a>
							<div class="card-content">
								<h3 class="card-title">{{serie.serie_name}}</h3>
								<a data-add-to-fav="{{serie.id}}" href="/series/addOrDeleteToUser?id={{serie.id}}"><img class="favorite" src={% if serie.fav == NULL %} "/assets/images/not_fav.svg" {% else %} "/assets/images/fav.svg" {% endif %}/></a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% for tag in seriesByTag %}
			<h2>{{tag.tagName}}</h2>
			<section class="carouselSerie">
				<ul class="carousel-series">
					{% for serie in tag.series %}
						<li class="carousel-serie">
							<a href="/seriepage?id={{serie.id}}">
								<img src="/assets/images/shows/{{serie.image}}"/>
							</a>
							<div class="card-content">
								<h3 class="card-title">{{serie.name}}</h3>
								<a data-add-to-fav="{{serie.id}}" href="/series/addOrDeleteToUser?id={{serie.id}}">
									<img class="favorite" src={% if serie.fav == NULL %} "/assets/images/not_fav.svg" {% else %} "/assets/images/fav.svg" {% endif %}/>
								</a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endfor %}
	</main>

{% endblock %}
{% block javascript %}
	<script src="/assets/scripts/script.js"></script>
	<script src="/assets/scripts/ajaxRequest.js"></script>
{% endblock %}
