{% extends 'layout.html.twig' %}

{% block content %}
	<main class="etagere">
		<h1>Bienvenue sur votre étagère !</h1>
		<ul class="serieList">
			{% for serie in favSeries %}
				<li class="cardSerie">
					<a href="/seriepage?id={{serie.id}}"><img src="/assets/images/shows/{{serie.serie.image}}"/></a>
					<div class="card-content">
						<h3 class="card-title">{{serie.serie.name}}</h3>
						<a href="/series/addOrDeleteToUser?id={{serie.id}}"><img class="favorite" src={% if serie.serie.fav == NULL %} "/assets/images/not_fav.svg" {% else %} "/assets/images/fav.svg" {% endif %}/></a>
						<span>{{ ((serie.serie.seen / serie.serie.totseasons) * 100)| round }}%
						</span>
						<progress id="test" max="{{serie.serie.totseasons}}" value="{{serie.serie.seen}}">
						<form action="" method="POST">
							<input type="hidden" name="serie" value="{{serie.id}}">
							<label for="update-seen-seasons-{{serie.id}}">Saisons vues</label>
							<select name="seen" id="update-seen-seasons-{{serie.id}}">
								<option value="0">Pas vu</option>
								{% for number in 1..serie.serie.totseasons %}
									<option value="{{number}}" {{ number == serie.serie.seen ? 'selected' }}>
										Saison
										{{number}}
									</option>
								{% endfor %}
							</select>
							<button>Mettre à jour</button>
						</form>
					</div>
				</li>
			{% endfor %}
		</ul>

	</main>
{% endblock %}
{% block javascript %}
	<script src="/assets/scripts/ajaxRequest.js"></script>
{% endblock %}
